//fonts
$fontBold:'clear_sansbold';
$fontItalic:'clear_sansitalic';
$fontRegular:'clear_sansregular';

//colors
$extradarkGrey:#202525;
$darkGrey:#484848;
$lightGrey:#555555;
$green:#65BD6A;
$greenOpacity:rgba(95, 174, 99, 0.7);
$white:#ffffff;

//color for background
$backgroundForPopup:rgba(151, 151, 151, 0.5);
$backgroundForSpeackers:rgb(245, 245, 245);
$backgroundForContacts:rgb(252, 252, 252);

//inputs color
$inputNormalGrey:#a5a3a3;
$inputHoverGrey:#909090;

//sponsors color
$goldSponsor:rgb(250, 196, 43);
$bronzeSponsor:rgb(205, 127, 50);
$mediaSponsor:rgb(85, 85, 85);
$silverSposor:rgb(174, 174, 174);
