//fonts
$MyriadProRegular:'Myriad-Pro-Regular';
$MyriadProSemibold:'Myriad-Pro-Semibold';

// colors
$black:black;
$white:white;
$dark-grey:#070303;
$grey:#4c4c45;
$light-grey:#bfbfbf;

//colors for top-menu cell

$Ukraine:#ffd400;
$Politics:#30b3bf;
$Video:#3640b3;	
$Series:#d91616;
$Blogs:#cca266;
$Sport:#73cc33;
$Glamor:#ba39e6;
$Lady:#f2b6f2;
$Interesting:#f26522;
$SpecialProjects:#f2b600;
$AllRubrics:#bfbfb4;
$World:#028fbd;
$Money:#1bb367;
