.copyright{
  	color:$greylight;
  	font-family:$sfuiTextRegular;
    color:#b1b1b1;  
}

.development{
  	color:$greylight;
  	font-family:$sfuiTextRegular;
  	float: right;

  	&__company-name{
    		font-family: $sfuiTextRegular;
    		color:$textBlog;
  	}
}


.shows{
  z-index:2;display:block;}

 .menu__submenu .shows{
  z-index:2;display:block;
}

.back{
  background:rgba(84, 82, 81, 0.5);
  
}