.footer-links{
	display:flex;
	justify-content:space-between;
    margin-top: 6px;

	&__text{
		font-family: $sfuiTextRegular;
		color:$TestimonialLightGrey;
		font-size: 10px;
		color:#b1b1b1;
		-webkit-transition: all 0.3 linear;
		transition: all 0.3 linear;

		&:hover{
			color:black;			
		}
	}
}