/*.menu{
	width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    text-align: center;  
    position: relative;  
    height: 54px; 
    margin-left: 8px;
    padding-left: -7px;
    padding-left: -14px;
    min-width:560px;

    &--foot{
    	padding-top: 0;
    	padding-left: 42px;
        margin-top: 56px;
        margin-left: 0;
        justify-content: space-between;
    }
    & > :first-child{
        min-width:120px;
    }

    & > :first-child:before{
    	content: '';
        position: absolute;
        width: 11px;
        height: 11px;
        top: 50%;
        margin-top: 2%;
        left: 78%;
    	background:url(../images/nav-arrow.png)0 0 no-repeat;
    }



	&__cell{		
    	font-family: $sfuiTextRegular;	
        list-style: none;
        text-decoration: none;
        width: 123px;
        justify-content: space-around;
        height: 51px;
        height: 100%;
        position: relative;
        padding-top: 24px;


		a{
		  color:black;
		}

		&--foot-menu {
			padding-top: 21px;
            -webkit-transition:all 0.5s linear;
            transition:all 0.5s linear;
			
            &:hover {
                background: rgba(84, 82, 81, 0.5);
                opacity: 0.7;
                }

			a {
				color:$titleBlack;
			}
		}


		
		&--sticky{
			a{
				color:$titleBlack;
			}
		}	

	}

	&__submenu{
		position: absolute;
		display: none;
        top: 100%;
        background:rgba(84, 82, 81, 0.5);
        padding-top: 9px;
        padding-bottom: 8px;

        &--foot-menu{
        	display: none;
        }
	}
	
    &__submenu-cell{
		font-family: $sfuiTextRegular;	    
        padding-bottom: 5px;
        width: 231px;
        text-align: left;
        padding-left: 20px;
        padding-top: 11px;
       
        &--foot-menu,
        &--sticky{
        	a{
        		color:$titleBlack;
        	}
        }
	}
	
	
}
.li-active {
	background:#545251;
	}



@media screen and (max-width: 950px) {
  .menu--foot {
        padding-left:0;
        margin-top:0; 
  }
}

@media screen and (max-width:750px){
    .menu__submenu{
        padding-top: 1px;
        padding-bottom: 0;
    }
    
    .menu__submenu-cell{
        padding-top: 10px;
        padding-bottom:0;
    }
    
    .logo-fixed-menu{
        display: none;
    }
}


.fixed-menu{
    width: 100%;   
    background: rgba(148, 141, 141, 0.5);
    display:none;
}

.sticky{
    position: fixed;
    z-index: 9999999;
    display:block;    
}

*/

.menu {
    width:100%;
    text-align:center;
    margin-top: 16px;

 &__cell {
    display:inline-block;
    border:1px solid white;padding: 5px;
}
&__cell a {color:white;}

&__cell a:hover {color:#2a6496;}
}




/*gamburger button*/

.click-btn {
    top: 0;
    position: absolute;
    width: 24px;
    height: 28.66666667px;
    cursor: pointer;
    padding:  10px 40px 40px 15px;
    left: 10px;
}
.click-btn span,
.click-btn span:before,
.click-btn span:after {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  background-color: #FFFFFF;
  width: 24px;
  height: 2px;
}
.click-btn span {
  position: relative;
  display: inline-block;
  float: left;
  margin-top: 13.33333333px;
}
.click-btn span:before,
.click-btn span:after {
  content: "";
  position: absolute;
  left: 0;
}
.click-btn span:before {
/*  top: -13.33333333px;*/
      top: -10.333333px;
}
.click-btn span:after {
  /*top: 13.33333333px;*/
      top: 9.333333px;
}
/* Ninja Button */



.click-btn.active span {
  background-color: transparent;
}
.click-btn.active span:before,
.click-btn.active span:after {
  top: 0;
}
.click-btn.active span:before {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
}
.click-btn.active span:after {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
}

.click-btn{
    display: none;
}


header {position:fixed;width:100%;
        z-index: 99999999;background: rgba(148, 141, 141, 0.5);
       }
@media screen and (max-width:990px){
    .main-menu {position:absolute;
        z-index: 99999999;width:100%}
    .menu{display:none;top: 40px;
    }
    .menu__cell{display: block;width: 100%;background: rgb(148, 141, 141);}
    .click-btn {
        display: block;

       position: fixed;
    left: 0;
    }
}
/*
nav ul ul { display: none;
                position: absolute;
                top: 100%;
            }
li{border:1px solid red;}
                nav ul li:hover > ul {
                display:inherit;
            }
            nav ul ul li {
                min-width:170px;
                float:none;
                display:list-item;
                position: relative;
                border:1px solid red;
            }
            nav ul ul ul {
                position: absolute;
                top:0;
                left:100%;
        }
        li > a:after { content:  ' +'; }
        li > a:only-child:after { content: ''; }*/