.testimonial{
	    padding-top: 22px;
	    overflow: hidden

	&__logo{
		width:100px;
		position:relative;
		top: 23px;
	}

	&__content{
		padding-left: 98px;
		width:280px;
		overflow: hidden;
	}

	&__author-name{
		font-size: 15px;
		font-family: $sfuiDisplayBold;
		color:$textBlog;
		text-transform: uppercase;
		margin-bottom: 7px;
	}

	&__author-profession{
		font-size: 12px;
		font-family: $sfuiDisplayRegular;
		color:$TestimonialSubtitle;
		margin-bottom: 12px
	}

	&__cite{
		font-size: 16px;
		font-family: $sfuiTextRegular;
		color:$textBlog;
		position:relative;
	}
}