
@import 'base/variables';
@import 'base/change_bootstrap_styles';
@import 'base/base';
@import 'base/layout';
@import 'base/buttons';
@import 'base/titles';

@import 'vendor/slick';
@import 'vendor/slick-theme';

@import 'blocks/menu';
@import 'blocks/presentation';
@import 'blocks/tabs';
@import 'blocks/find';
@import 'blocks/project';
@import 'blocks/testimonial';
@import 'blocks/burger';


//fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Nunito');


@font-face {
    font-family: 'Bebas Neue';
    src: url('../font/BebasNeue Regular.otf') format('otf');
    src: url('../font/bebasneue_regular-webfont.woff') format('woff');
    src: url('../font/bebasneue_regular-webfont.woff2') format('woff2');    
    font-weight: normal;
    font-style: normal;
};

@font-face {
    font-family: 'Evogria';
    src: url('../font/Evogria.otf') format('otf');
    src: url('../font/evogria-webfont.woff') format('woff');
    src: url('../font/evogria-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
};

@font-face {
    font-family: 'GilroyBold';
    src: url('../font/Gilroy-ExtraBold.otf') format('otf');
    src: url('../font/gilroy-extrabold-webfont.woff') format('woff');
    src: url('../font/gilroy-extrabold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
};

@font-face {
    font-family: 'GilroyLight';
    src: url('../font/Gilroy-Light.otf') format('otf');
    src: url('../font/gilroy-light-webfont.woff') format('woff');
    src: url('../font/gilroy-light-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
};