.article-info{
	font-size: 12px;
	font-family: $MyriadProRegular;
	color:$light-grey;

	 ul{
	 	float:right;

	 	li {
			list-style:none;
			display: inline-block;
		}
	 }
	 &__heading{

	 	&--world{
	 		color:$World;
	 	}

	 	&--ukraine{
	 		color:$Ukraine;
	 	}
	 	&--glamor{
	 		color:$Glamor;
	 	}

	 	&--money{
	 		color:$Money;
	 	}
	 }
}