.banner{
	width: 870px;
    display: block;
    text-align: center;
    margin: 18px 0 0 50px;
    position: relative;

}

//styles with css2
.banner__ramka{
    position: relative;
    text-align: center;
}
.banner__ramka:after{
	content: '';
    background: url(../images/banner_mask.png) 0 0 no-repeat;
    position: absolute;
    top: 0;
    left: 67px;
    width: 728px;
    height: 90px;
}
