.date{
	width: 101px;
	padding:0 25px;	
    height: 30px;
    position: relative;
    border-right: 2px solid #878985;

	&__day,
	&__year{
		display: block;
		@include top-fonts;
		font-size: 12px;
	}
}