.slider-descript{
	position: absolute;
    bottom: 0;    
    left: 100px;
    width: 760px;
    height: 125px;
    line-height: 42px;
    overflow: hidden;
	

	&__title{
		font-family:$MyriadProSemibold;
		color:$white;
		font-size:36px;
		margin-bottom: -5px;
	}
	&__heading{
		font-family:$MyriadProRegular;
		color:#cc0000;
		font-size:14px;
	}

	&__news-date{
		font-family:$MyriadProRegular;
		color:$white;
		font-size:14px;
	}
}

@media screen and(max-width:1400px){
	.slider-descript{	
        left: 5%;
        width: 65%;    
    	line-height: 33px;
    }
}


