.weather{
	width: 185px;   
    height: 30px;
    position: relative;
    border-right: 2px solid #878985;
	
	&__icon	{
		display:inline-block;
		padding-left: 20px;
   		padding-right: 26px;
	}

	&__forecast{
		display:inline-block;
		
	}

	&__city
		{
		display: block;
		@include top-fonts;
		font-size: 12px;
	}

	&__temp{
		display: block;
		@include top-fonts;
		font-size: 14px;
	}
}
