.article{
    margin-bottom: 36px;  
    margin-top: 0;
    height: auto;
    max-width: 275px;
    width: 32%;
    min-width: 28%;

	&__image{
		height: auto;
    overflow: hidden;   
	}

	&__title{
		display:block;
	  margin: 12px 0;	
		font-family: $MyriadProRegular;
		color:$grey;
		font-weight: normal;
	}
}
@media screen and(max-width:990px){
	.article{	
   width: 30%;
 }
}

@media screen and(max-width:1200px){
	.article{	
   width: 32%}
}


.article video {
    width: 100%;
    display: block;
    height: 100%;
    th: auto;
    top: 0;
    left: 0;
    height: auto;
    max-width: 100%;
    position: static; 
}
