.photo-gallery{
	min-width:990px;
	max-width:1200px;
	margin:auto;
	height:500px;
	padding-top: 12px;
	
	&__news-title{
		font-family: $MyriadProRegular;
		color:$white;
		text-align: left;
		line-height: 30px;
		font-weight: normal;
		display: block;
		width: 680px;
	}
	&__slides{
		width:100%;
    	overflow: hidden;
		height: 100%;
		position: relative;
	}
}

.demo {
    width:620px;
    margin: auto;
    margin-top: 14px;
}
ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
}
li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor:pointer;
}
img {
    display: block;
    height: auto;
    max-width: 100%;
}


