.logo-channel{
	display:flex;
	justify-content:space-around;
	flex-wrap:nowrap;
	height: 60px;
	width: 1205px;
	margin-bottom: 32px;
	margin: auto;

	&__cell{
		display: flex;
		align-items: center;

		img{
			width: 67px;
   			height: 47px;
		}
	}
}

@media screen and(max-width:1400px){
	.logo-channel{	
    width: auto;}
}
