.share-news{
	width:645px;
	height:480px;
	margin:auto;	
	background-color: $white;
	position:relative;

	&__image{
		height: 313px;
		width: 645px;
		overflow: hidden;
	}

	&__title{
		font-family: $MyriadProRegular;
		font-size: 18px;
		color:$black;
		line-height: 36px;
	    padding-left: 30px;
	    padding-top: 7px;
	}

	&__description{
		font-family: $MyriadProRegular;
		font-size: 14px;
		color:$black;
		line-height: 16px;
		 padding-left: 30px;
	}
	&__source{
		font-family: $MyriadProRegular;
		font-size: 14px;
		color:#cccccc;
		line-height: 16px;
		display: block;
		    padding-left: 30px;
    	padding-top: 7px;
        padding-bottom: 18px;
	}
}


.close-popup{
	content: '';
	background:url(../images/icon/close.png) 0 0 no-repeat;
	width: 20px;
	height: 20px;
	position: absolute;
	top:10px;
	right: 10px;
}