.social{
    padding-left: 42px;
    border-top: 1px solid $grey;
}

.social-icons{
	height: 50px;
	width:100%;	
	padding-top: 8px;

	&__cell{
		display: inline-block;
		list-style: none;
		width:40px;
		height: 40px;

		&--vk{
			@include social-sprite;
			background-position: 0 -21px;	
			

			&:hover{
				background-position: 0 0;
			}
		}

		&--fb{
			@include social-sprite;
			background-position: -39px -21px;
		

			&:hover{
				background-position: -39px 0;
			}
		}

		&--twitter{
			@include social-sprite;
			background-position: -80px -21px;				
			

			&:hover{
				background-position: -80px 0;
			}
		}
		
		&--ok{
			@include social-sprite;
			background-position: -120px -21px;
			
		

			&:hover{
				background-position: -120px 0;
			}
		}

		&--google{
			@include social-sprite;
			background-position: -160px -21px;					
			
			width: 36px;

			&:hover{
				background-position: -160px 0;
			}
		}
	}
}