//vendor
@import 'vendor/bootstrap.css';
@import 'vendor/bootstrap-theme.css';
@import 'vendor/slick';
@import 'vendor/slick-theme';

//base style
@import 'base/font';
@import 'base/variables';
@import 'base/base';

//modules
@import 'modules/button';
@import 'modules/title';

//styles for blocks
@import 'blocks/menu';
@import 'blocks/logo';
@import 'blocks/servise';
@import 'blocks/video';
@import 'blocks/blog';
@import 'blocks/testimonial';
@import 'blocks/social-icon';
@import 'blocks/footer-links';

//other_styles
@import 'other_styles/other';
@import 'other_styles/backgrounds';
@import 'other_styles/layout';
