.carousel-container{
	    margin-top: 2%;
}
.presentation-container{
	//height:1050px;
	//height:auto;	
}

.featured-container{
	height:770px;
	padding-top: 6%;
	padding-left: 10px;
    padding-right: 10px;	
}

.tabs{
	padding-top: 10%;
}
.comunity-container{
	background:url(../../src/image/growing_community_bkg.png) 0 0 no-repeat;
	background-size:cover;	
	text-align: center;
	padding-top: 50px;
}

.logo-partner-container{
	height:146px;
	padding:20px 0;
}

.copyright{
	text-align:center;
}

@media  screen and (max-width:1200px){
    .carousel-container,
    .presentation-container,
    .featured-container {
    	height: auto;
    }
}

@media  screen and (max-width:768px){   
    .featured-container {
    	text-align:center;
    }
}