.latest-news-title{
	font-family:$MyriadProSemibold;
	color:#33332e;
	font-size:24px;
	text-align:left;
	padding-left:18px;
}

.foto-block-title{
	font-family:$MyriadProRegular;
	color:$white;
	font-size:18px;
}