
//base style
@import 'base/variables';
//verndors
@import 'vendor/slick';
@import 'vendor/slick-theme';

@import 'base/base';
@import 'base/mixins';
@import 'base/layout-structure';
//modules
@import 'titles/titles';

//other
@import 'other/style-change';
@import 'other/other';

//styles for blocks
@import 'blocks/currency';
@import 'blocks/date';
@import 'blocks/weather';
@import 'blocks/search-header';
@import 'blocks/share';
@import 'blocks/slider-descript';
@import 'blocks/share-news';
@import 'blocks/social-icons';
@import 'blocks/top-menu';
@import 'blocks/article-type';
@import 'blocks/article-info';
@import 'blocks/article';
@import 'blocks/banner';
@import 'blocks/logo-channel';
@import 'blocks/hot-news';
@import 'blocks/foto-gallery';


//fonts

@font-face {
font-family: 'Myriad-Pro-Regular';
font-style: normal;
font-weight: normal;
src: local('Myriad Pro Regular'), url('fonts/myriad-pro/MYRIADPRO-REGULAR.woff') format('woff'),
url('fonts/myriad-pro/MyriadPro-Regular.otf') format('otf');
}


@font-face {
font-family: 'Myriad-Pro-Condensed';
font-style: normal;
font-weight: normal;
src: local('Myriad Pro Condensed'), url('fonts/myriad-pro/MYRIADPRO-COND.woff') format('woff');
}


@font-face {
font-family: 'Myriad-Pro-Semibold';
font-style: normal;
font-weight: normal;
src: local('Myriad Pro Semibold'), url('fonts/myriad-pro/MYRIADPRO-SEMIBOLD.woff') format('woff');
}

