.tsn-slogan{
	text-align:center;
	text-transform:uppercase;
	color:$white;
	font-family:$MyriadProRegular;
	font-weight:normal;
	margin-bottom: 43px;
	margin-top: 35px;
}
.logo-tsn{
	    width: 50px;
}

.date-year{
	text-align:center;
	color:#333333;
	font-family:$MyriadProRegular;
	font-weight:normal;
	display: block;
    margin: auto;
    width: 50px;   
    position: relative;

	&:before{
		content: '';
	    width: 34px;
	    height: 1px;
	    border-bottom: 1px solid #333333;
	    position: absolute;
	    top: 50%;
	    margin-top: -2px;
	    left: -34px;
	}

	&:after{
		content: '';
		width: 34px;
		height: 1px;
		border-bottom:1px solid #333333;
		position: absolute;
		top:50%; 
		right:-34px;
		margin-top: -2px;
	}
}

.banner-in-hot-news{
    max-width: 300px;
    min-width: 250px;
    max-height: 250px;
    margin: auto;
    margin-bottom: 23px;


	img{
	    width: auto;
	    height: auto;
	    max-width: 100%;
	    display: block;
	}
}




   
@media screen and(max-width:990px){
	.banner-in-hot-news{
		display: none;
	}
}


.myvideo {
    position: relative;  
 	padding: 6% 0;
    background:black; 
    top: 0;
    left: 0;
    overflow: hidden;
    border: 1px solid #ccc;
}
.myvideo iframe,.myvideo object,.myvideo embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}


