*{
	margin:0;
	padding:0;
}

.container{	
	margin:auto;
}

body{
	min-width:560px;
	z-index:0;
position:relative;
top:0;
left:0;
top:0;
bottom:0;
}

ul{
	padding:0;
}

a:hover,
a:focus,
a:visited,
a:link {	
	text-decoration:none;
	
}
button,
button:focus, 
button:active,
button:hover{
	outline:0;
	border:none;
	background:transparent;
}
a{
	text-decoration:none;
}

li{
	list-style:none;	
}

h1{
	font-size:55px
}

h2{
	font-size:50px;
}
h3{
	font-size:20px;
}
h4{
	font-size:15px;
}

h5{
	font-size:14px;
}

p{
	font-size:10px;
}