@font-face {
    font-family: 'etelka-light-pro';    
    src: url('../fonts/etelka-light-pro/Etelka-Light-Pro_16165.woff') format('woff'),
         url('../fonts/etelka-light-pro/Etelka-Light-Pro_16165.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EtelkaMediumProRegular';
    src: url('../fonts/EtelkaMediumProRegular/EtelkaMediumProRegular.eot');    
    src: url('../fonts/EtelkaMediumProRegular/EtelkaMediumProRegular.woff') format('woff'),
         url('../fonts/EtelkaMediumProRegular/EtelkaMediumProRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'sf_ui_displaybold';
    src: url('../fonts/SFUI_display-bold/sf-ui-display-bold-58a33599e2f20-webfont.eot');
    src: url('../fonts/SFUI_display-bold/sf-ui-display-bold-58a33599e2f20-webfont.woff') format('woff'),
         url('../fonts/SFUI_display-bold/sf-ui-display-bold-58a33599e2f20-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf_ui_displayregular';
    src: url('../fonts/SFUI_display-regular/sf-ui-display-regular-58a336077563e-webfont.eot');
    src: url('../fonts/SFUI_display-regular/sf-ui-display-regular-58a336077563e-webfont.woff') format('woff'),
         url('../fonts/SFUI_display-regular/sf-ui-display-regular-58a336077563e-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'sf_ui_textbold';
    src: url('../fonts/SFUI_text-bold/sf-ui-text-bold-58a336959d2cf-webfont.eot');
    src: url('../fonts/SFUI_text-bold/sf-ui-text-bold-58a336959d2cf-webfont.woff') format('woff'),
         url('../fonts/SFUI_text-bold/sf-ui-text-bold-58a336959d2cf-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sf_ui__textregular';
    src: url('../fonts/SFUI_text-regular/sfuitext-regular-webfont.eot');
    src: url('../fonts/SFUI_text-regular/sfuitext-regular-webfont.woff') format('woff'),
         url('../fonts/SFUI_text-regular/sfuitext-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}