.page-header{
		background:$colorBlack;  
		width: 100%;		

    &__container {
		max-width: 1145px;
    	margin: auto;
		display:flex;
	    flex-wrap: wrap;
    	justify-content: space-between;
    }


}



	
.sticky {
		position:fixed;
		z-index: 9999999;
		background: rgba(22,22,22,1);
}