//vendor
@import 'vendor/bootstrap.css';
@import 'vendor/bootstrap-theme.css';
//base style
@import 'base/variables';
@import 'base/change_bootstrap_styles';
@import 'base/base';



//modules
@import 'modules/button';
@import 'modules/inputs';

//styles for blocks
@import 'blocks/event-name';
@import 'blocks/header';
@import 'blocks/headers-buttons';
@import 'blocks/our-speakers';
@import 'blocks/speaker-card';
@import 'blocks/check-in';
@import 'blocks/sponsors';
@import 'blocks/logo';
@import 'blocks/buy-ticket';
@import 'blocks/contacts';
@import 'blocks/social-contact';
@import 'blocks/events-date';
@import 'blocks/design';
@import 'blocks/header-menu';
@import 'blocks/footer';


//styles for popup
@import 'blocks/popup-user-card';
@import 'blocks/full-card';
@import 'blocks/profile';
@import 'blocks/speaker-contacts';
@import 'blocks/report';
@import 'blocks/report-location';

//fonts
@font-face {
    font-family: 'clear_sansbold';
    src: url('../font/clear-sans/ClearSans-Bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
};

@font-face {
    font-family: 'clear_sansitalic';    
    src: url('../font/clear-sans/ClearSans-Italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
};

@font-face {
    font-family: 'clear_sansregular';    
    src:url('../font/clear-sans/ClearSans-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
};

