//color for menu
$menuTopGreyDark:#141414;

//color for titles
$titleBlack:#000000;//title blog, content blog
$titleVideoGreyDark:#030303;//video block title
$titleTweetsGreyDark:#2f3337;//tweets block title
$titleTweetsBlue:#5a7eca;
$textBlog:#000000;// blog title and content; testimonial title and content;bottom menu; 

//color for tweetter card
$TweetLink:#6192dc;
$TweetNikname:#8e97a6;
$TweetRetweeted:#6b7b8d;
$TweetButton:#7dcd80;

//color for video block
$ButtonVideo:#5491b6;

//color for blog
$blogLink:#6bbddb;


// color for testimonial cards
$TestimonialSubtitle:#808080;

//backgrounds colors
$TestimonialLightGrey:#f2f2f2;//testimonial card block

//footer text

$greylight:#b1b1b1;
//buttons
$blogButtonText:#5695ba;//for blog button
$blogButtonBackground:#e6eff5;

//fonts

$EtelkaLightProRegular:'etelka-light-pro', serif;
$EtelkaMediumProRegular:'EtelkaMediumProRegular', serif;
$sfuiDisplayBold:'sf_ui_displaybold', serif;
$sfuiDisplayRegular:'sf_ui_displayregular', serif;
$sfuiTextBold:'sf_ui_textbold', serif;
$sfuiTextRegular:'sf_ui__textregular', serif;