.contacts{
	background:$backgroundForContacts;
	height:414px;

	&__title{
		margin-top: 47px;
		margin-bottom:35px;
		margin-left:54px;
	}
	&__menu{
		margin-left:54px; 
	}
	
	&__cell{
		list-style: none;
		height: 70px; 

		&--sreet:after{
			background: url(../images/sprite.png) 0 0 no-repeat;
		    background-position: -62px -7px;
		    width: 54px;
		    height: 54px;
		    position: absolute;
		    left: 6px;
		    top: 109px;
		    content: '';
		    -webkit-transition:all 0.3s linear;
		    transition:all 0.3s linear;
		}

		&--sreet:hover:after{
			background: url(../images/sprite.png) 0 0 no-repeat;
		    background-position: -7px -7px;
			

		    content: '';}
		

		&--email:after{
			background: url(../images/sprite.png) 0 0 no-repeat;
		    background-position: -61px -60px;
		    width: 54px;
		    height: 54px;
		    position: absolute;
		    left: 2px;
		    top: 180px;
		    content: '';
		     -webkit-transition:all 0.3s linear;
		    transition:all 0.3s linear;
		}
		&--email:hover:after{
			background: url(../images/sprite.png) 0 0 no-repeat;
		    background-position: -7px -60px;			     
		    content: '';
		     height: 52px;
		}


		&--phone:after{
			background: url(../images/sprite.png) 0 0 no-repeat;
		    background-position: -64px -111px;
		    width: 54px;
		    height: 53px;
		    position: absolute;
		    left: 5px;
		    top: 249px;
		    content: '';
		    -webkit-transition:all 0.3s linear;
		    transition:all 0.3s linear;
		}
		&--phone:hover:after{
			background: url(../images/sprite.png) 0 0 no-repeat;
		    background-position: -10px -113px;			     
		    content: '';
		     left: 6px;
		         top: 251px;
		}
	}
		
	
	&__cell-title{
		font-family: $fontBold;
		color:rgb(136, 136, 136);
		font-size: 13px;
		line-height: 17px;
	}

	&__cell-subtitle{
		color:$darkGrey;
		font-family: $fontRegular;
		font-size: 16px;
	}
}