.event-name {
	display:table;
	height:100%;

	&__title{
		font-family: $fontBold;
		color:$white;
		//line-height: 60px;
		font-size: 13px;
		display: table-cell;
		vertical-align: middle;
		    letter-spacing: 0.035em;


		&--location{
			color:$green;
		}			
	}


}