.popup-user-card{
	width:100%;
	position:absolute;
	top:0;	
	z-index:9999;
	height: 100%;
	background:$backgroundForPopup;
	-webkit-transform:translateX(100%);
        transform:translateX(100%);
	-webkit-transition:all 2s linear;
	transition:all 2s linear
	//display:none;	
}


.show{
	-webkit-transform:translateX(0);
transform:translateX(0);
}