.profile{
	padding:30px 30px 0 30px;

	&__foto {
		width: 270px;
		height: 270px;
		overflow: hidden;
		display: block;
		float: left;
	}
	&__about-speaker {
		display: block;
		overflow:hidden;
		padding-left: 30px;
	}

	&__speaker-name {
		font-family: $fontRegular;
		color:$extradarkGrey;
		margin-top: 2px;
		font-size:20px;
	}

	&__company-name {
		color:$lightGrey;
		font-family: $fontRegular;
		margin-top: 3px;
		position:relative;
		margin-bottom: 24px;

		&:after{
			content: "";
			width: 100%;
			height: 1px;
			border:1px solid $inputNormalGrey;
			position:absolute;
			top:33px;
			left:0;
		}
	}
	
	&__greeting {
		font-family: $fontRegular;
		color:$extradarkGrey;
		display: block;
		height: 167px;
		overflow: hidden;
		font-size: 16px;
		line-height: 24px;
	}

    &__speaker-contacts {
    	margin-top:7px; 
    }
}