.report-location{
	overflow:hidden;
	display:block;
	font-size:13px;
	font-family:$fontBold;
	color:$inputNormalGrey;
	
	&__date {
		display: inline-block;
		width: 100px;
	}
	
	&__time {
		display: inline-block;		
		width: 100px;
	}

	&__hall-number {
		display: inline-block;
		width: 100px;
	}
	
	&__for-profession {
		display: inline-block;
		width: 300px;
	}
}