.speaker-card {
	height:364px;
	background:white;
	position:relative;
	margin-bottom:31px;

	&__foto-container{		
		height: 240px;
		overflow: hidden;
	}

	&__name{
		background: $greenOpacity;
		height: 44px;
		padding:5px;
		display: table;
		position:absolute;
		top:196px;

		p{
			display:table-cell;
			color:$white;
			font-size: 14px;
			font-family: $fontRegular;
			vertical-align: middle;
		}
	}

	&__descripton{
		font-family:$fontBold;
		font-size: 16px;
	    line-height: 22px;
	    padding: 16px;
	    padding-bottom: 0;color:$lightGrey;
	}

	&__country{
		color:$lightGrey;
		font-family: $fontRegular;
		position:relative;
		text-align: right;
	    margin-right: 45px;

		&:after{
			background:url(../images/diagramm.png)0 0 no-repeat;
			width: 30px;
			height: 30px;
			content:'';
			position:absolute;
			right: -40px;
		}
	}
}