.check-in{
	background:url(../images/forms_background.png) 0 0 no-repeat;
	height:452px;
	width:100%;
	background-size:cover;

	&__title{
		font-family: $fontBold;
		color: white;
		text-align: center;    
        margin-top: 86px;
        margin-bottom: 14px;
	}

	&__subtitle{
		font-family: $fontBold;
		color: white;
		text-align: center;
		margin-bottom: 50px;
	}

	&__input-name-container,
	&__input-report-container,
	&__input-phone-container,
	&__input-email-container{
		height: 36px;
		width:100%;
		margin-bottom: 23px;
		position:relative;
	}

	&__input-name-container{

		&:before{
	    	content:'';
	    	position:absolute;
	    	height:28px;
	    	width: 28px;    	    	
	    	background:url(../images/input-sprite.png) no-repeat;
	    	left: 10px;
	    	top: 1px;
	    	background-position: -38px 3px;
	    } 	


		&:hover:before,
		&:focus{
			background-position: -6px 3px;
		}		    
    }

    &__input-phone-container{

		&:before{
	    	content:'';
	    	position:absolute;
	    	height:28px;
	    	width: 28px;    	    	
	    	background:url(../images/input-sprite.png) no-repeat;
	    	left: 10px;
	    	top: 5px;
	    	background-position: -37px -33px;
	    } 	


		&:hover:before,
		&:focus{
			background-position: -5px -33px;
			}		    
    }
    
    &__input-email-container{

		&:before{
	    	content:'';
	    	position:absolute;
	    	height:28px;
	    	width: 28px;    	    	
	    	background:url(../images/input-sprite.png) no-repeat;
	    	left: 10px;
	    	top: 5px;
	    	background-position: -102px 0px;
	    } 	


		&:hover:before,
		&:focus{
			background-position: -70px 0px;
			}		    
    }


	&__input-report-container{

		&:before{
	    	content:'';
	    	position:absolute;
	    	height:28px;
	    	width: 28px;    	    	
	    	background:url(../images/input-sprite.png) no-repeat;
	    	left: 10px;
	    	top: 5px;
	    	background-position: -37px -63px;
	    } 	


		&:hover:before,
		&:focus{
			background-position: -5px -63px;
			}		    
    }


	&__button-apply{
		width:200px;
		height: 35px;
		margin:auto;
		margin-top:25px; 
	}
}


.check-in__input-name-container:after,
.check-in__input-name-container:after,
.check-in__input-report-container:after,
.check-in__input-phone-container:after,
.check-in__input-email-container:after{
	content:'';
	position:absolute;
	height:35px;
	width: 2px;
	border:1px solid $inputNormalGrey;	    	
	left: 37px;
	top: 1px;
}
