.events-date{
	
	margin-left: 28px;

	&__title{
		color:$white;
		font-family: $fontRegular;
		display:block;
		float:left;
		line-height: 70px;
		    margin: 0 32px 0 0;
	}

	&__menu{
		display:block;
		
	}

	&__year{
		list-style: none;
		display:inline-block;
		width: 62px;

	}
	&__year-number {
		color:$white;
		font-family: $fontRegular;
		line-height: 70px;
	}
}