.full-card{
	    height: 610px;
    width: 770px;
    position: absolute;
    top: 50%;
    margin-top: 305px;

	&__speakers-profile{
		height: 330px;
		background:white;
	}

	&__speakers-report{
		height: 280px;
		border-top: 1px solid $inputNormalGrey;
		background: #f8f8f8;
		padding:0 30px 30px 30px;
	}

	&__button-close-container{
		width: 30px;
		height: 30px;
		position: absolute;
		top:0;
		right:0;
	}
}
	