.report{

	&__title {
		font-family: $fontBold;
		font-size: 16px;
		color:$darkGrey;
		margin-bottom:15px; 
		position:relative;
		margin-top: 26px;


		&:after{
			content: "";
			width: 100%;
			height: 1px;
			border:1px solid $inputNormalGrey;		
			position:absolute;
			top:29px;
			left:0;
		}
	}


	&__description{
		font-family: $fontRegular;
		color:$extradarkGrey;
		font-size: 16px;
	    line-height: 23px;
	    margin:0;
	    height: 72px;
	    overflow: hidden;
	}

	&__location-info {
		height: 40px;
		margin-top: 16px;
	}

	&__conclusion {
		font-family: $fontRegular;
		color:$lightGrey;
		font-size: 16px;
		text-align: center;
	}
}