.social-contact {
	display:table;
	position:relative;

	&__icon {
		display:table-cell;
		width: 27px;
		height:27px;
	}

	&__icon--linkedin {					

		&:after{
			background: url(../images/sprite.png)0 0 no-repeat;		   
		    background-position: -11px -205px;
		    width: 30px;
		    height: 32px;
		    position: absolute;
		    left: -1px;
		    top: -4px;
		    content: '';
		}

		&:hover:after{
			background-position: -47px -206px;
		}
	}

	&__icon--facebook{

		&:after{
			background: url(../images/sprite.png)0 0 no-repeat;		   
		    background-position: -11px -239px;
		    width: 30px;
		    height: 32px;
		    position: absolute;
		    left: 31px;
		    top: -3px;
		    content: '';
				}

		&:hover:after{
			background: url(../images/sprite.png)0 0 no-repeat;		   
		    background-position: -47px -239px;
 			top: -4px;
		}
	}


	&__icon--youtube{
		
		&:after{
			background: url(../images/sprite.png)0 0 no-repeat;		   
		    background-position: -11px -274px;
		    width: 30px;
		    height: 32px;
		    position: absolute;
		    left: 62px;
		    top: -2px;
		    content: '';
		}

		&:hover:after{
			background: url(../images/sprite.png)0 0 no-repeat;		   
		    background-position: -46px -275px;
 			top: -1px;
		}
	}
	
	&__icon--github{
		
		&:after{
			background: url(../images/sprite.png)0 0 no-repeat;		   
		    background-position: -11px -308px;
		    width: 30px;
		    height: 32px;
		    position: absolute;
		    left: 93px;
		    top: -2px;
		    content: '';
		}

		&:hover:after{
			background: url(../images/sprite.png)0 0 no-repeat;		   
		    background-position: -46px -309px;
 			top: -1px;
		}

	}

	&__icon--bit{
		
		&:after {
			background: url(../images/sprite.png)0 0 no-repeat;		   
		    background-position: -11px -341px;
		    width: 30px;
		    height: 32px;
		    position: absolute;
		    left: 124px;
		    top: -2px;
		    content: '';
				}

		&:hover:after {
			background: url(../images/sprite.png)0 0 no-repeat;		   
		    background-position: -46px -342px;
 			top: -1px;
		}
	}
	
	&__icon--drup {
		
		&:after{
			background: url(../images/sprite.png)0 0 no-repeat;		   
		    background-position: -11px -374px;
		    width: 30px;
		    height: 32px;
		    position: absolute;
		    left: 155px;
		    top: -2px;
		    content: '';
		}

		&:hover:after{
			background: url(../images/sprite.png)0 0 no-repeat;		   
		    background-position: -46px -375px;
 			top: -1px;
		}
	}
}