//title in header
.title-company{
	font-family:$EtelkaMediumProRegular;
	font-weight: normal;
	color:white;	 
	text-transform:uppercase;	
	margin-top: 24%;
	margin-left: 16px;
} 

@media screen and (max-width:750px){
	.title-company,
	.subtitle-company{
		text-align: center;
	}
}

.subtitle-company{
	font-family:$EtelkaLightProRegular;
	color:white;
	font-size:21px;
	margin-left: 16px;
}

//other part titles
.title-video{
	font-size:49px;
	color:$titleVideoGreyDark;
	font-family:$EtelkaMediumProRegular;
    font-weight: normal;
    padding-left: 43%;
    padding-top: 11%;
}
@media  screen and (max-width:750px){
	.title-video{padding-left:0;
		text-align: center;padding-top: 5%;}
}
.title-blog{
	font-size:24px;
	color:$titleBlack;
	font-family:$sfuiTextRegular;	
	text-transform:uppercase;
    display: inline-block;
    margin-top: 22%;
    margin-bottom: 7%;
}


@media screen and(max-width:950px){
	.title-blog{
	     margin-top: 10%;
	}
}