.background-header{
	background-size:cover;
	height: 730px;
	background:url(../images/yacht_sailing_at_full_speed.jpg) 0 0 no-repeat;
	margin-bottom: 3px;
}
.background-carousel{
	background-color:$TestimonialLightGrey;
	height:246px;
	width: 100%;
	margin-top: 63px;
}