@charset "UTF-8";
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
/*.slick-list {
    .slick-loading & {
        background: #fff slick-image-url() center center no-repeat;
    }
}*/
/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

* {
  margin: 0;
  padding: 0; }

body {
  width: 100%; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 16px; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 12px; }

a:hover,
a:focus,
a:visited,
a:link {
  text-decoration: none; }

input:focus,
input:active,
input:hover {
  outline: 0;
  border: none; }

button:focus,
button:active,
button:hover {
  outline: 0;
  border: none; }

select:focus,
select:active,
select:hover {
  outline: 0;
  border: transparent;
  background: transparent; }

.top-head-container {
  min-width: 990px;
  max-width: 1400px;
  margin: auto;
  position: relative; }

.top-head {
  height: 50px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.5);
  max-width: 1400px;
  min-width: 990px;
  width: 1400px; }

@media screen and (max-width: 1400px) {
  .top-head {
    width: 100%; } }
.top-head-left {
  height: 50px;
  display: flex;
  align-items: center; }

.top-head-right {
  height: 50px;
  display: flex;
  align-items: center; }

.slider-container {
  min-width: 990px;
  max-width: 1400px;
  margin: auto; }

.share-news-container {
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.9;
  position: fixed;
  padding-top: 50px;
  top: 0;
  left: 0;
  z-index: 99999;
  display: none; }

.top-menu-container {
  min-width: 990px;
  max-width: 1400px;
  margin: auto;
  background: #edede6;
  height: 48px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center; }

.transform-search {
  display: flex;
  visibility: hidden; }

.news-container {
  min-width: 990px;
  max-width: 1400px;
  margin: auto;
  position: relative;
  height: 675px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap; }

@media screen and (max-width: 1200px) {
  .news-container {
    height: 579px; } }
.latest-news-container {
  width: 83%;
  height: auto;
  position: relative;
  top: -321px;
  right: 76px;
  right: 7%;
  margin-right: 100px;
  margin-left: 50px;
  background: #f2f2eb;
  padding-top: 16px;
  max-width: 330px; }

@media screen and (max-width: 1200px) {
  .latest-news-container {
    width: 300px;
    margin-right: 40px;
    margin-left: 30px;
    top: -207px;
    height: 1889px;
    max-height: 2086px;
    overflow: hidden;
    right: -3%; } }
@media screen and (max-width: 990px) {
  .latest-news-container {
    width: 250px;
    margin-right: 20px;
    margin-left: 20px; } }
.article-block {
  margin-left: 50px;
  width: 65%; }
  .article-block--bottom {
    width: 61%; }

@media screen and (max-width: 1200px) {
  .article-block {
    margin-left: 40px;
    width: 67%; } }
.article-type-container {
  margin: auto;
  min-width: 990px;
  max-width: 1400px; }

@media screen and (max-width: 1200px) {
  .article-block--bottom {
    width: 61%; } }
@media screen and (max-width: 990px) {
  .article-block {
    margin-left: 20px; } }
.article-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.banner-container {
  height: 109px;
  min-width: 990px;
  max-width: 1400px;
  margin: auto; }

@media screen and (max-width: 1400px) {
  .banner-container {
    display: none; } }
.foto-bcg {
  height: 600px;
  width: 100%;
  background: black; }

@media screen and (max-width: 1400px) {
  .foto-bcg {
    margin-bottom: 20px; } }
.foto-container {
  min-width: 990px;
  max-width: 1400px;
  margin: auto; }

.foto-block {
  width: 870px;
  display: block;
  height: 600px;
  margin-left: 50px;
  border: 1px solid white; }

.photo-gallery-container {
  height: 600px;
  width: 100%;
  position: absolute;
  top: 50%;
  margin-top: -300px;
  z-index: 99999;
  left: 0;
  background: black;
  padding: 20px; }

.footer-bcg {
  width: 100%;
  background: black;
  margin: auto;
  height: 250px; }

.footer-container {
  min-width: 990px;
  max-width: 1400px;
  margin: auto;
  padding-top: 19px; }

.latest-news-title {
  font-family: "Myriad-Pro-Semibold";
  color: #33332e;
  font-size: 24px;
  text-align: left;
  padding-left: 18px; }

.foto-block-title {
  font-family: "Myriad-Pro-Regular";
  color: white;
  font-size: 18px; }

.slick-slide {
  position: relative; }

.slick-dots li button {
  background: url(../images/slider-foto/dots.png) 0 0 no-repeat;
  margin: 2px; }

.slick-dots li {
  display: block;
  height: 38px;
  float: none; }

.slick-dots li.slick-active button {
  color: transparent;
  opacity: 1;
  background: url(../images/slider-foto/dots-active.png) 0 0 no-repeat; }

.slick-dots li button:before {
  height: 35px;
  left: 2px;
  content: ''; }

.slick-dots {
  bottom: 0;
  top: 103px; }

.slick-dots li button {
  height: 31px; }

.slick-dotted.slick-slider {
  margin-bottom: 0; }

.slick-prev, .slick-next {
  display: none !important; }

.lSSlideOuter .lSPager.lSGallery {
  width: 100% !important;
  overflow: hidden;
  position: absolute;
  top: 85%;
  left: 0;
  height: 60px; }

.lSSlideOuter .lSPager.lSGallery li {
  width: 90px !important;
  height: 60px !important;
  position: relative; }

.lSSlideOuter .lSPager.lSGallery li:after {
  width: 90px;
  display: block;
  height: 60px;
  opacity: 0.5;
  content: '';
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999999999999999999999999999; }

.lSSlideOuter .lSPager.lSGallery li.active:after {
  opacity: 0;
  content: ''; }

.lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover {
  border-radius: 0;
  border: 1px solid white; }

.tsn-slogan {
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-family: "Myriad-Pro-Regular";
  font-weight: normal;
  margin-bottom: 43px;
  margin-top: 35px; }

.logo-tsn {
  width: 50px; }

.date-year {
  text-align: center;
  color: #333333;
  font-family: "Myriad-Pro-Regular";
  font-weight: normal;
  display: block;
  margin: auto;
  width: 50px;
  position: relative; }
  .date-year:before {
    content: '';
    width: 34px;
    height: 1px;
    border-bottom: 1px solid #333333;
    position: absolute;
    top: 50%;
    margin-top: -2px;
    left: -34px; }
  .date-year:after {
    content: '';
    width: 34px;
    height: 1px;
    border-bottom: 1px solid #333333;
    position: absolute;
    top: 50%;
    right: -34px;
    margin-top: -2px; }

.banner-in-hot-news {
  max-width: 300px;
  min-width: 250px;
  max-height: 250px;
  margin: auto;
  margin-bottom: 23px; }
  .banner-in-hot-news img {
    width: auto;
    height: auto;
    max-width: 100%;
    display: block; }

@media screen and (max-width: 990px) {
  .banner-in-hot-news {
    display: none; } }
.myvideo {
  position: relative;
  padding: 6% 0;
  background: black;
  top: 0;
  left: 0;
  overflow: hidden;
  border: 1px solid #ccc; }

.myvideo iframe, .myvideo object, .myvideo embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.exchange-rate-container {
  height: 30px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
  width: 185px;
  border-right: 2px solid #878985; }

.exchange-rate {
  display: table-cell;
  vertical-align: middle;
  color: white;
  font-family: "Myriad-Pro-Regular";
  font-weight: normal;
  font-size: 14px; }
  .exchange-rate__arrow {
    padding: 0 10px; }
    .exchange-rate__arrow--top {
      color: #339900; }
    .exchange-rate__arrow--bottom {
      color: #cc0000; }

.date {
  width: 101px;
  padding: 0 25px;
  height: 30px;
  position: relative;
  border-right: 2px solid #878985; }
  .date__day, .date__year {
    display: block;
    color: white;
    font-family: "Myriad-Pro-Regular";
    font-weight: normal;
    font-size: 12px; }

.weather {
  width: 185px;
  height: 30px;
  position: relative;
  border-right: 2px solid #878985; }
  .weather__icon {
    display: inline-block;
    padding-left: 20px;
    padding-right: 26px; }
  .weather__forecast {
    display: inline-block; }
  .weather__city {
    display: block;
    color: white;
    font-family: "Myriad-Pro-Regular";
    font-weight: normal;
    font-size: 12px; }
  .weather__temp {
    display: block;
    color: white;
    font-family: "Myriad-Pro-Regular";
    font-weight: normal;
    font-size: 14px; }

.search-header {
  width: 35px;
  border: 1px solid transparent;
  height: 36px;
  border-radius: 8px;
  position: relative;
  margin-right: 15px;
  transition: 1s;
  background: transparent; }
  .search-header:hover {
    width: 350px;
    background: white; }
  .search-header__field {
    border: none;
    border-radius: 10px;
    outline: none;
    -webkit-appearance: none;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    padding-left: 40px;
    background: transparent; }
  .search-header__icon {
    width: 26px;
    height: 26px;
    border: none;
    position: absolute;
    top: 50%;
    margin-top: -13px;
    left: 10px;
    background: url(../images/icon/search-icon.png) no-repeat 0 0; }

@media screen and (max-width: 1200px) {
  .search-header:hover {
    width: 200px; } }
.share {
  width: 49px;
  height: 38px;
  background: url(../images/icon/share-icon.png) 50% 50% no-repeat;
  outline: 0;
  border: none;
  position: relative; }
  .share:before {
    content: '';
    width: 1px;
    background-color: white;
    height: 30px;
    position: absolute;
    left: 0;
    top: 3px; }

.slider-descript {
  position: absolute;
  bottom: 0;
  left: 100px;
  width: 760px;
  height: 125px;
  line-height: 42px;
  overflow: hidden; }
  .slider-descript__title {
    font-family: "Myriad-Pro-Semibold";
    color: white;
    font-size: 36px;
    margin-bottom: -5px; }
  .slider-descript__heading {
    font-family: "Myriad-Pro-Regular";
    color: #cc0000;
    font-size: 14px; }
  .slider-descript__news-date {
    font-family: "Myriad-Pro-Regular";
    color: white;
    font-size: 14px; }

@media screen and (max-width: 1400px) {
  .slider-descript {
    left: 5%;
    width: 65%;
    line-height: 33px; } }
.share-news {
  width: 645px;
  height: 480px;
  margin: auto;
  background-color: white;
  position: relative; }
  .share-news__image {
    height: 313px;
    width: 645px;
    overflow: hidden; }
  .share-news__title {
    font-family: "Myriad-Pro-Regular";
    font-size: 18px;
    color: black;
    line-height: 36px;
    padding-left: 30px;
    padding-top: 7px; }
  .share-news__description {
    font-family: "Myriad-Pro-Regular";
    font-size: 14px;
    color: black;
    line-height: 16px;
    padding-left: 30px; }
  .share-news__source {
    font-family: "Myriad-Pro-Regular";
    font-size: 14px;
    color: #cccccc;
    line-height: 16px;
    display: block;
    padding-left: 30px;
    padding-top: 7px;
    padding-bottom: 18px; }

.close-popup {
  content: '';
  background: url(../images/icon/close.png) 0 0 no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 10px; }

.social {
  padding-left: 42px;
  border-top: 1px solid #4c4c45; }

.social-icons {
  height: 50px;
  width: 100%;
  padding-top: 8px; }
  .social-icons__cell {
    display: inline-block;
    list-style: none;
    width: 40px;
    height: 40px; }
    .social-icons__cell--vk {
      background: url(../images/icon/social-icons-sprite.png) no-repeat;
      width: 35px;
      height: 24px;
      background-position: 0 -21px; }
      .social-icons__cell--vk:hover {
        background-position: 0 0; }
    .social-icons__cell--fb {
      background: url(../images/icon/social-icons-sprite.png) no-repeat;
      width: 35px;
      height: 24px;
      background-position: -39px -21px; }
      .social-icons__cell--fb:hover {
        background-position: -39px 0; }
    .social-icons__cell--twitter {
      background: url(../images/icon/social-icons-sprite.png) no-repeat;
      width: 35px;
      height: 24px;
      background-position: -80px -21px; }
      .social-icons__cell--twitter:hover {
        background-position: -80px 0; }
    .social-icons__cell--ok {
      background: url(../images/icon/social-icons-sprite.png) no-repeat;
      width: 35px;
      height: 24px;
      background-position: -120px -21px; }
      .social-icons__cell--ok:hover {
        background-position: -120px 0; }
    .social-icons__cell--google {
      background: url(../images/icon/social-icons-sprite.png) no-repeat;
      width: 35px;
      height: 24px;
      background-position: -160px -21px;
      width: 36px; }
      .social-icons__cell--google:hover {
        background-position: -160px 0; }

.top-menu {
  display: flex;
  flex-wrap: nowrap; }
  .top-menu__cell {
    list-style: none;
    align-items: center;
    height: 48px;
    display: flex;
    margin-right: 0; }
    .top-menu__cell a {
      font-family: "Myriad-Pro-Regular";
      font-size: 16px;
      color: black;
      height: 100%;
      width: 100%;
      display: block;
      padding: 0 10px;
      line-height: 47px; }
    .top-menu__cell--dropdown {
      position: relative;
      padding-left: 40px; }
      .top-menu__cell--dropdown:before {
        background: url(../images/icon/dropdown.png) 0 0 no-repeat;
        width: 16px;
        height: 16px;
        margin: 2px;
        position: absolute;
        top: 50%;
        margin-top: -8px;
        content: '';
        left: 10px; }
      .top-menu__cell--dropdown a {
        color: #bfbfb4;
        width: 84px;
        padding-left: 0px; }
    .top-menu__cell:nth-child(2):hover {
      background: #ffd400; }
    .top-menu__cell:nth-child(3):hover {
      background: #30b3bf; }
    .top-menu__cell:nth-child(4):hover {
      background: #3640b3; }
    .top-menu__cell:nth-child(5) {
      width: 109px; }
      .top-menu__cell:nth-child(5) a {
        padding: 0 7px; }
      .top-menu__cell:nth-child(5):hover {
        background: #d91616; }
    .top-menu__cell:nth-child(6):hover {
      background: #cca266; }
    .top-menu__cell:nth-child(7):hover {
      background: #73cc33; }
    .top-menu__cell:nth-child(8):hover {
      background: #ba39e6; }
    .top-menu__cell:nth-child(9):hover {
      background: #f2b6f2; }
    .top-menu__cell:nth-child(10):hover {
      background: #f26522; }
    .top-menu__cell:nth-child(11):hover {
      background: #f2b600; }

.top-menu__cell--dropdown:hover {
  background: #bfbfb4; }
  .top-menu__cell--dropdown:hover a {
    color: white; }

@media screen and (max-width: 1400px) and (min-width: 1200px) {
  .top-menu__cell:nth-child(11) {
    display: none; } }
@media screen and (max-width: 1200px) {
  .top-menu__cell:nth-child(10) {
    display: none; }

  .top-menu__cell:nth-child(11) {
    display: none; } }
@media screen and (max-width: 1400px) {
  .top-menu {
    justify-content: flex-start; }

  .top-menu li {
    margin-right: 0; }
    .top-menu li a {
      padding: 0 5px; } }
.menu-transform {
  display: flex;
  justify-content: space-between;
  width: 1400px; }

.logo-tsn--transform {
  visibility: hidden; }

.sticky {
  position: fixed;
  top: 0;
  z-index: 99999;
  background: #edede6; }

@media screen and (max-width: 1400px) {
  .sticky {
    width: 100%; } }
.vis {
  visibility: visible; }

video {
  position: absolute;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden; }

.article-type {
  height: 32px;
  margin-left: 50px;
  display: flex;
  justify-content: flex-start;
  display-wrap: nowrap;
  border-bottom: 1px solid #ccccb8;
  margin-top: 20px;
  margin-bottom: 18px; }
  .article-type__cell {
    display: flex;
    list-style: none;
    align-items: center;
    position: relative; }
    .article-type__cell a {
      font-family: "Myriad-Pro-Regular";
      font-weight: normal;
      font-size: 14px;
      color: #4c4c45;
      margin-right: 16px;
      height: 32px;
      line-height: 32px; }

.article-type__cell .active {
  color: #cc0000; }

.article-type__cell .active:after {
  width: 10px;
  height: 10px;
  content: '';
  display: block;
  margin-left: -13px;
  position: absolute;
  left: 50%;
  bottom: -7px;
  background-color: #fff;
  border: 1px solid transparent;
  border-right-color: #ccccb8;
  border-bottom-color: #ccccb8;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%; }

.article-info {
  font-size: 12px;
  font-family: "Myriad-Pro-Regular";
  color: #bfbfbf; }
  .article-info ul {
    float: right; }
    .article-info ul li {
      list-style: none;
      display: inline-block; }
  .article-info__heading--world {
    color: #028fbd; }
  .article-info__heading--ukraine {
    color: #ffd400; }
  .article-info__heading--glamor {
    color: #ba39e6; }
  .article-info__heading--money {
    color: #1bb367; }

.article {
  margin-bottom: 36px;
  margin-top: 0;
  height: auto;
  max-width: 275px;
  width: 32%;
  min-width: 28%; }
  .article__image {
    height: auto;
    overflow: hidden; }
  .article__title {
    display: block;
    margin: 12px 0;
    font-family: "Myriad-Pro-Regular";
    color: #4c4c45;
    font-weight: normal; }

@media screen and (max-width: 990px) {
  .article {
    width: 30%; } }
@media screen and (max-width: 1200px) {
  .article {
    width: 32%; } }
.article video {
  width: 100%;
  display: block;
  height: 100%;
  th: auto;
  top: 0;
  left: 0;
  height: auto;
  max-width: 100%;
  position: static; }

.banner {
  width: 870px;
  display: block;
  text-align: center;
  margin: 18px 0 0 50px;
  position: relative; }

.banner__ramka {
  position: relative;
  text-align: center; }

.banner__ramka:after {
  content: '';
  background: url(../images/banner_mask.png) 0 0 no-repeat;
  position: absolute;
  top: 0;
  left: 67px;
  width: 728px;
  height: 90px; }

.logo-channel {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  height: 60px;
  width: 1205px;
  margin-bottom: 32px;
  margin: auto; }
  .logo-channel__cell {
    display: flex;
    align-items: center; }
    .logo-channel__cell img {
      width: 67px;
      height: 47px; }

@media screen and (max-width: 1400px) {
  .logo-channel {
    width: auto; } }
.hot-news {
  height: auto;
  max-width: 290px;
  min-width: 230px;
  border-bottom: 1px solid #bfbfbf;
  margin: auto;
  margin-bottom: 5px; }
  .hot-news__images {
    margin-bottom: 12px; }
    .hot-news__images img {
      width: auto;
      height: auto;
      max-width: 100%;
      display: block; }
  .hot-news__title {
    color: #4c4c45;
    line-height: 19px;
    margin-bottom: 10px;
    font-family: "Myriad-Pro-Regular"; }
    .hot-news__title--top-hot {
      color: #070303;
      font-family: "Myriad-Pro-Semibold"; }
  .hot-news__date {
    font-size: 12px;
    font-family: "Myriad-Pro-Regular";
    color: #bfbfbf;
    margin-bottom: 16px;
    display: block; }

.latest-news-more {
  text-align: center;
  font-family: "Myriad-Pro-Regular";
  color: #4c4c45;
  font-weight: normal;
  width: 100%; }

@media screen and (max-width: 1400px) {
  .hot-news:nth-child(14) {
    display: none; }

  .hot-news:nth-child(15) {
    display: none; } }
@media screen and (max-width: 1400px) {
  .hot-news {
    padding: 0 10px; } }
.photo-gallery {
  min-width: 990px;
  max-width: 1200px;
  margin: auto;
  height: 500px;
  padding-top: 12px; }
  .photo-gallery__news-title {
    font-family: "Myriad-Pro-Regular";
    color: white;
    text-align: left;
    line-height: 30px;
    font-weight: normal;
    display: block;
    width: 680px; }
  .photo-gallery__slides {
    width: 100%;
    overflow: hidden;
    height: 100%;
    position: relative; }

.demo {
  width: 620px;
  margin: auto;
  margin-top: 14px; }

ul {
  list-style: none outside none;
  padding-left: 0;
  margin-bottom: 0; }

li {
  display: block;
  float: left;
  margin-right: 6px;
  cursor: pointer; }

img {
  display: block;
  height: auto;
  max-width: 100%; }

@font-face {
  font-family: 'Myriad-Pro-Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Regular"), url("fonts/myriad-pro/MYRIADPRO-REGULAR.woff") format("woff"), url("fonts/myriad-pro/MyriadPro-Regular.otf") format("otf"); }
@font-face {
  font-family: 'Myriad-Pro-Condensed';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Condensed"), url("fonts/myriad-pro/MYRIADPRO-COND.woff") format("woff"); }
@font-face {
  font-family: 'Myriad-Pro-Semibold';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Semibold"), url("fonts/myriad-pro/MYRIADPRO-SEMIBOLD.woff") format("woff"); }

/*# sourceMappingURL=style.css.map */
