.project{
	height: 530px;
	background:#f9f9f9;
	
	&__image{
		position: relative;
		
		img{
			width: 100%;
		}
	}
	&__price{
		width: 140px;
		height: 35px;
		border-radius:5px;
		color:white;
		line-height: 35px;
		font-size: 14px;
		font-weight: 600;
		background:$blue;
		position:absolute;bottom:20px;
		right: 20px;
		text-align: center;
	}
	&__progress{
		position:relative;
		margin-bottom: 31px;
		text-align: left;

		:after{
			width: 100%;
			height: 2px;
			border-bottom:1px solid $grey;
			position:absolute;
			bottom:-20px;
			left: 0;
			content: "";
		}
	}

	&__content{
		padding:30px 10px;
		position:relative;
	}
	&__descripton{
		@include textMinContent;
		padding:20px 0;
		text-align: left;
	}
	 &__persents {		
		@include textMinContent;		
	}
	&__days-left{
		float: right;
		@include textMinContent;
	}

	&__details{
		position:relative;
		@include textMinContent;
		display: block;		
		background:url(../../src/image/arrow_project_details.png)0 0 no-repeat;			
	    text-align: right;
	    padding-right: 30px;    
	    background-position-x: 100%;	   
	    background-position-y: 7px;
	    float: right;
	}

	&__title{
		text-align: center;
		font-weight: 600;	
	}
}


