.input {
	width:100%;
	height: 100%;
	background-color: white;
	border:none;
	border-radius:5px;
	color:$inputNormalGrey;
	padding-left: 51px;  
	    

		&:hover,
		&:focus,
		&:active {
			color:$inputHoverGrey;
		}
}
